*{
  margin:0;
  padding:0;
 box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  height: 150%;
  width:100%;
  background-image: url(plants.jpg);
  background-size:cover;
  position: absolute;
  font-family: sans-serif;
}
.menubar{
  background-color: rgb(0,100,0);
  text-align: center;
  
}
.menubar ul{
  display: inline-flex;
  list-style: none;
  color: wheat;
}
.menubar ul li{
  width: auto;
  margin:15px;
  padding: 15px;
}
.menubar ul li a {
  text-decoration: none;
  color:white;
}
.menubar ul li:hover{
  background-color: #2bab0d;
  border-radius: 3px;
}
.submenu{
  display: none;
}
.menubar ul li:hover .submenu{
  display:block;
  position:absolute;
  background-color:rgb(0,100,0);
  margin-top:15px;
  margin-left:-15px;
  z-index: 1;
}
.menubar ul li:hover .submenu ul{
  display:block;
  margin:10px;

}
.menubar ul li:hover .submenu ul li{
  
  border-bottom: 1px dotted #fff;
  
}
.content{
  width: 1200px;
  height:auto;
  margin:auto;
  position:relative;
}

.content h1{
  font-family: "Trirong", serif;
  font-size: 60px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}
.icons{
  
  padding:23px 15px;
  float:right;
  margin-right:5%;
}
.icons a{
  padding:13px;
  color:white;
}
.icons a:hover{
  color:#2bab0d;
  border:white;
}



/*footer starts*/
.footer{
  margin-top:45%;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: rgb(0,100,0);
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 20px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li a{
	font-size: 18px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color:green;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


/*footer ends*/